<div class="w-full h-screen flex flex-row mb-4 py-16" >
  <div class="sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 border rounded shadow-sm ml-10 mr-10 overflow-y-scroll">
    <div class="pt-2 relative mx-auto text-gray-600 flex justify-center">
      <div class="relative" style="max-width: 284px;">
        <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search" name="search" placeholder="Search" [(ngModel)]="searchValue">
        <button type="submit" class="mr-4 w-4 absolute right-0 top-1/3" (click)="search()">
          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="w-full h-full flex justify-items-center justify-center items-center" *ngIf="isProcessing">
      <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-40 w-40">
      
      </div>
    </div>    
    <div *ngIf="movies && !isProcessing" class="my-16 h-3/5">
      <div *ngFor="let movie of movies; let i = index" >
        <a class="flex flex-row mb-4 cursor-pointer" [routerLink]="['/movie', movie.imdbID]">
          <div class="sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 mb-4">
            <img alt='' class='w-64 h-64 block mx-auto' [src]="movie.Poster">
          </div>
          <div class="sm:w-2/3 md:w-2/3 lg:w-2/3 xl:w-2/3 mb-4 row py-5">
            <div class="row" *ngIf="movie.isFavourite" (click)="switchFavourite(movie)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
            </div>
            <div class="row" *ngIf="!movie.isFavourite" (click)="switchFavourite(movie)">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>
            </div>
            <div class="row my-5">
              <span class="text-sm font-medium bg-green-100 py-1 px-2 rounded text-green-500 align-middle mr-10">Title</span>{{movie.Title}}
            </div>
            <div class="row my-5">
              <span class="text-sm font-medium bg-red-100 py-1 px-2 rounded text-red-500 align-middle mr-10">Type</span>{{movie.Type}}
            </div>
            <div class="row my-5">
              <span class="text-sm font-medium bg-green-100 py-1 px-2 rounded text-green-500 align-middle mr-10">Type</span>{{movie.Year}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 border rounded shadow-sm mr-10 ml-10 overflow-y-scroll">
      <router-outlet ></router-outlet>
  </div>
</div>