<div class="w-full h-full flex justify-items-center justify-center items-center" *ngIf="isProcessing">
    <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-40 w-40">
    
    </div>
</div>
<div class="w-full h-screen mb-4 container py-10" *ngIf="movieDetail && !isProcessing">
    <div *ngFor="let item of movieDetail | keyvalue; let i = index" class="row flex flex-row">
        <div class="sm:w-1/6 md:w-1/6 lg:w-1/6 xl:w-1/6 mb-4 ml-2 mr-2">
            <div class="row movieDetailItem flex justify-end">
                <span class="text-sm font-medium bg-green-100 py-1 px-2 rounded text-green-500 align-middle" [ngClass]="{'bg-green-100': i%2==0, 'text-green-500': i%2==0, 'bg-red-100':  i%2!=0, 'text-red-500':  i%2!=0}">{{item.key}}</span>
            </div>
        </div>
        <div class="sm:w-5/6 md:w-5/6 lg:w-5/6 xl:w-5/6 mb-4 ml-2 mr-2">
            <div class="row movieDetailItem flex justify-start">
                <span class="text-sm font-medium  py-1 px-2 rounded text-gray-500 align-middle">{{item.value}}</span>
            </div>
        </div>        
    </div>
</div>